crewai
crewai-tools
litellm
boto3
pydantic
pydantic-core
python-dotenv
langchain-community
langchain-aws
litellm[proxy]
gradio
requests
librosa
numpy
scipy
soundfile
websocket-client
pyaudio
amazon-transcribe
asyncio
transformers
torch
tf-keras
optimum[onnxruntime]